body {
    margin: 2rem 1rem;

    font-family: 'sans-serif';
    font-size: 24px;
}

textarea {
    font-family: 'monospace';
    font-size: 24px;
}

button {
    font-size: 36px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

textarea {
    width: 100%;
}

input[type=file] {
    font-size: 18px;
    padding: 0.5rem 1rem;
}
